extends ../layout/index
block slider
    .slider
        h1 Rio de Janeiro
        em aventura

block contenido
    main.container.mt-5
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5 
            .col-md-6
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vitae nisl vitae neque tristique volutpat eu id quam. Cras porttitor erat sed massa pharetra aliquam. Mauris eleifend turpis nec lectus finibus, convallis hendrerit justo venenatis. Pellentesque congue sollicitudin tellus, a sagittis odio bibendum vel. Maecenas tempor velit a vehicula vestibulum. Vivamus suscipit tellus dolor, eu accumsan nisi elementum at. Integer blandit magna varius sapien feugiat, in tempor nisi maximus. Vivamus hendrerit egestas dolor eleifend aliquam. Nulla gravida urna nec purus feugiat posuere. Nulla rhoncus cursus libero, vel facilisis elit volutpat non. Suspendisse leo leo, rutrum nec finibus sed, placerat a eros. Donec auctor malesuada accumsan. Nulla ligula ante.


                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vitae nisl vitae neque tristique volutpat eu id quam. Cras porttitor erat sed massa pharetra aliquam. Mauris eleifend turpis nec lectus finibus, convallis hendrerit justo venenatis. Pellentesque congue sollicitudin tellus, a sagittis odio bibendum vel. Maecenas tempor velit a vehicula vestibulum. Vivamus suscipit tellus dolor, eu accumsan nisi elementum at. Integer blandit magna varius sapien feugiat, in tempor nisi maximus. Vivamus hendrerit egestas dolor eleifend aliquam. Nulla gravida urna nec purus feugiat posuere. Nulla rhoncus cursus libero, vel facilisis elit volutpat non. Suspendisse leo leo, rutrum nec finibus sed, placerat a eros. Donec auctor malesuada accumsan. Nulla ligula ante.
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", class="img-fluid")
       
        h2.text-center.mb-5 Proximos Viajes
        include ../layout/partials/viajes   

    .descuento
        .container
             .row
                .col-md-6
                    .contenido
                        h3 5% de Descuento
                        p.titulo Viaje a Canada
                        p.fecha 10 de Marzo 2 
                        p.precio $2,500 USD.
                        
    .container
        h2.text-center.my-5 Testimoniales
        include ../layout/partials/testimoniales